body {
	background-color: Lightgrey;
}

.titleMenu {
	padding: 0px;
	margin: 0px;
	
	line-height: 40px;
	height: 40px;

	text-align: center;
	background-color: rgb(220,220,220);
	
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;

	cursor: pointer;
}
#gamburg {
	position: absolute;
	float: right;

	right: 0px;
	top: 0px;
	
	width: 40px;
	z-index: 100;
	font: 2em "arial";
	background-color: rgb(180,180,180);
}

.titleMenu:hover {
	background-color: rgb(210,220,230);
}
#gamburg:hover {
	background-color: rgb(180,190,200);
}


.bigmenu {
	position:absolute;
	padding: 0px;
	margin: 0px;
	right: 0px;
	
	top: -500px;    /* ??? */
	height: 40px;
}
.bigmenu:hover {
	top: 0px;
}

.titleMenu:hover+.bigmenu {
	top: 0px;
}




.titleMenu img {
	float: left;
	padding-top:-15px;
	height: 40px;
}
.titleMenu:hover {
	background-color: rgb(210,220,230);
}







.menu0 {
	position: relative;
	padding: 0px;
	margin: 0px;
	right: 0px;
	top: 0px;

	top: -1500px;

	width: 480px;
	background-color: rgb(240,240,240);
	border-collapse: collapse;
}
.menu0 tr:last-child {
	height: 65px;
	vertical-align: bottom;
}
.menu0 tr:first-child {
	height: 45px;
	vertical-align: bottom;
}
.menu0 td {
	padding-left: 15px;
}
.menu0 td:first-child {
	width: 220px;
}
.menu0 td:nth-child(2) {
	width: 200px;
}


.menu0:hover{
	top: 0px;
}
.titleMenu:hover + .menu0{
	top: 0px;
}





#menu00 {
}
#menu01 {
}
#menu02 {
}
#menu03 {
}



.smallInput {
	width: 38px;
}
#butcheck {
	color: rgb(240,0,0);
}
#butadd0 {
	width: 100px;
}
.resetIt {
	display: none;
}


